:root{
    --white : #fff;
    --gry :rgb(247, 247, 247);
    --blue-backgroung : #B3E5FC;
    --blue-text : #0277BD;
    --black : #000;
    --star_clolor : #FDD835;
    --text_color : #616161;
}

@font-face {
    font-family:'shabnam';
    src: url(/fonts/Shabnam-FD.woff2) format('woff2');
}
*{
    margin: 0;
    font-family: 'shabnam';
}
body{
    background-color: var(--gry);
}
p.color-p{
    color: var(--blue-text);
}
p.bold{
     font-weight: bold;
}
svg.size-6 {  
    width: 20px;
    height: 20px;
    color: var(--star_clolor);
}
svg.size-5 {  
    width: 20px;
    height: 20px;
    color: var(--blue-text);
}
img {
    width: 200px;
    height: 200px;
}
.cantainer { 
    margin-left: auto;
    margin-right: auto;
    margin-top: 43px;
}
section.section1 {
    display: flex;
    justify-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
section.section2 {
    display: flex;
    justify-content: center;
    gap: 20px; 
}
.top_right {
    display: inline-flex
;
}
.box {
    background-color: var(--white);
    box-shadow: 0px 1px 7px -6px;
    border-radius: 10px;
    /* border: 1px solid; */
    width: 16rem;
    /* padding: 7px; */
}
.box_pading {
    padding: 17px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22rem;
}
img {
    width: 200px;
    height: 200px;  
    display: inline-block;
    margin: auto;
}
p.title {
    margin-top: 17px;
    color: var(--text_color);
    text-align: justify;
}
.buttom_box {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top {
    display: flex;
    margin-bottom: 7px;
}
p.right_number {
    margin-right: 15px;
    text-decoration: line-through;
    
    color: var(--text_color);
}
.left_text {
    display: flex
;
align-items: center;
margin-bottom: -30px;
}
span.doller {
    background-color: var(--blue-backgroung);
    border-radius: 4px;
    padding: 2px;
    color: var(--blue-text);
}
.bottom {
    display: inline-flex
;
}
p.maney {
    font-weight: bold;
}
p.type-maney {
    margin-right: 6px;
    color: var(--text_color);
}
/* .top_box {
    flex: 1;
} */